fastapi==0.109.2
uvicorn[standard]==0.27.1
python-dotenv==1.0.1
pydantic>=2.9.0
groq==0.4.2
openai==1.12.0
chromadb
supabase
reportlab
python-docx
python-multipart==0.0.18
httpx
edge-tts
SpeechRecognition
langchain-core
email-validator
e2b-code-interpreter
